body *, body *:before, body *:after { box-sizing: inherit; }
body {
  box-sizing: border-box;
  font-size: 12px;
  margin: 0px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: papayawhip;
  height: 100vh
}

.App-navbar {
  color: DarkSeaGreen;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.App-navbar__title {
  margin: 0;
  color: DarkSeaGreen;
  font-size: 1.5rem;
  text-decoration: none;
}

.settings-icon, .menu-icon, .App-navbar__title {
  transition: 0.5s;
  cursor: pointer;
}

.settings-icon:hover, .menu-icon:hover, .App-navbar__title:hover {
  color: DarkOliveGreen;
}
