.board-card {
  background: white;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 360px;
  /*max-width: 480px;*/
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}
