/* Box-sizing fix! */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.row {
    max-width: 1000px;
    margin: 0 auto;
    display: flex; /* This will allow our row to display columns horizontally */
    flex-wrap: wrap; /* This will become necessary to allow our flex boxes to stack in responsive mode */
}
/* If an element needs all twelve columns, then its width is 100%. Easy. */
.col-small-12 {
    width: 100%;
}
/* If an element needs 11 of 12 columns, its width is 11/12 * 100% */
.col-small-11 {
    width: 91.666%;
}
.col-small-10 {
    width: 83.333%;
}
.col-small-9 {
    width: 75%;
}
.col-small-8 {
    width: 66.666%;
}
.col-small-7 {
    width: 58.333%;
}
/* This is the class we'd use if we want two 50/50 elements next to each other */
.col-small-6 {
    width: 50%;
}
.col-small-5 {
    width: 41.666%;
}
/* This is the class we'd use if we want three elements next to each other */
.col-small-4 {
    width: 33.333%;
}
/* This is the class we'd use if we want four elements next to each other */
.col-small-3 {
    width: 25%;
}
.col-small-2 {
    width: 16.666%;
}
/* We'll almost NEVER use this */
.col-small-1 {
    width: 8.333%;
}

.responsive-img {
    max-width: 100%; /* don't be wider than your parent container, image */
}



ul.block-grid {
  display: flex; /* display elements next to each other */
  flex-wrap: wrap;
  list-style: none; /* disable bullets on the LI items */
  padding-left: 0; /* reset the browser extra padding on UL elements */
}

ul.block-grid li {
  padding: 5px; /* Adding a 10px padding on a 100% width would not work if it wasn't for box-sizing: border-box! */
}

.block-grid-small-2 > li {
  width: 50%;
}
.block-grid-small-3 > li {
  width: 33.333%;
}
.block-grid-small-4 > li {
  width: 25%;
}
.block-grid-small-5 > li {
  width: 20%;
}
.block-grid-small-6 > li {
  width: 16.666%;
}


@media only screen and (min-width: 641px) {
    .col-medium-12 {
        width: 100%;
    }
    .col-medium-11 {
        width: 91.666%;
    }
    .col-medium-10 {
        width: 83.333%;
    }
    .col-medium-9 {
        width: 75%;
    }
    .col-medium-8 {
        width: 66.666%;
    }
    .col-medium-7 {
        width: 58.333%;
    }
    .col-medium-6 {
        width: 50%;
    }
    .col-medium-5 {
        width: 41.666%;
    }
    .col-medium-4 {
        width: 33.333%;
    }
    .col-medium-3 {
        width: 25%;
    }
    .col-medium-2 {
        width: 16.666%;
    }
    .col-medium-1 {
        width: 8.333%;
    }

    .block-grid-medium-2 > li {
      width: 50%;
    }
    .block-grid-medium-3 > li {
      width: 33.333%;
    }
    .block-grid-medium-4 > li {
      width: 25%;
    }
    .block-grid-medium-5 > li {
      width: 20%;
    }
    .block-grid-medium-6 > li {
      width: 16.666%;
    }
}

@media only screen and (min-width: 1025px) {
    .col-large-12 {
        width: 100%;
    }
    .col-large-11 {
        width: 91.666%;
    }
    .col-large-10 {
        width: 83.333%;
    }
    .col-large-9 {
        width: 75%;
    }
    .col-large-8 {
        width: 66.666%;
    }
    .col-large-7 {
        width: 58.333%;
    }
    .col-large-6 {
        width: 50%;
    }
    .col-large-5 {
        width: 41.666%;
    }
    .col-large-4 {
        width: 33.333%;
    }
    .col-large-3 {
        width: 25%;
    }
    .col-large-2 {
        width: 16.666%;
    }
    .col-large-1 {
        width: 8.333%;
    }

    .block-grid-large-2 > li {
      width: 50%;
    }
    .block-grid-large-3 > li {
      width: 33.333%;
    }
    .block-grid-large-4 > li {
      width: 25%;
    }
    .block-grid-large-5 > li {
      width: 20%;
    }
    .block-grid-large-6 > li {
      width: 16.666%;
    }
}
